@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    font-size: 62.5%;
  }

}




@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .slide {
    will-change: transform;

  }
  .origin-copy {
    transform-origin: center center
  }

  .rotated-half-circle {
    width: 15rem;
    height: 15rem;
    border: 2px solid #ff5434;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(135deg);
  }

   /* Chrome, Safari and Opera */
   .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  

 
}

